@media (min-width: $MinScreenDesktop) {
    .logo {
        img {
            width: 100%;
        }
    }

    .text {
        margin-top: 30px;

        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 1.7rem;
        }

        .custom-button {
            padding: 15px 30px;
            font-size: 1rem;
        }
    }
}