@media (min-width: $MinScreenDesktop) {

    .login-register-wrapper {
        display: flex;
        height: 100vh;
    }

    .left-container {
        display: flex;
        background-color: $secondaryBackgroundColorHover;
        width: 50%;
        height: 100vh;
        justify-content: center;
        align-items: center;

        img {
            width: 30%;
            object-fit: contain;
            filter: invert(1);
            opacity: 0;
            transform: scale(0) rotate(-360deg);
            animation: LogoEnterAnimation 2s ease-in forwards;
        }
    }

    .login-register-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
    }
}

@keyframes LogoEnterAnimation {
    from {
        opacity: 0;
        transform: scale(0) rotate(-360deg);
    }

    to {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
}